/*--- Background Color ---*/
/*--- Text Color ---*/
/* About Page */
/* Contact Page */
/* ProduceList Page */
/* shoppingCart Page */
/*Font Family*/
/*Hover Color*/
/*Font Weight*/
body.checkout-page {
  /*--------------------------------------------------------
** Content                                             
--------------------------------------------------------*/
  /*----- Billing Details  -----*/
}
body.checkout-page .billing-details .billing-form {
  margin-top: 24px;
}
body.checkout-page .billing-details .ui-selectmenu-button {
  margin-bottom: 15px;
  border-color: #DCDCDC;
  border-radius: 7px;
  padding: 5px 0;
  padding-left: 18px;
  width: 100%;
  background: white;
}
body.checkout-page .billing-details .ui-selectmenu-button .ui-selectmenu-text::after {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid #DCDCDC;
  border-radius: 0 7px 7px 0;
  padding: 5px 22px;
  color: #7D7D7D;
  line-height: 21px;
}
body.checkout-page .billing-details .ui-selectmenu-button .ui-selectmenu-text:hover::after {
  background: #ff6060;
  color: white;
}
body.checkout-page .billing-details input {
  margin-bottom: 15px;
  border-color: #DCDCDC;
  border-radius: 7px;
  padding: 5px;
  height: auto;
  font-size: 14px;
  color: #7D7D7D;
}
body.checkout-page .billing-details input::placeholder {
  color: #7D7D7D;
}
body.checkout-page .billing-details input::-webkit-input-placeholder {
  color: #7D7D7D;
}
body.checkout-page .billing-details input::-ms-input-placeholder {
  color: #7D7D7D;
}
body.checkout-page .billing-details input::-moz-placeholder {
  color: #7D7D7D;
}
body.checkout-page .billing-details textarea {
  resize: none;
  margin-bottom: 15px;
  border-color: #DCDCDC;
  border-radius: 7px;
  padding: 5px;
  color: #7D7D7D;
  font-size: 14px;
}
body.checkout-page .billing-details textarea::placeholder {
  color: #7D7D7D;
}
body.checkout-page .billing-details textarea::-webkit-input-placeholder {
  color: #7D7D7D;
}
body.checkout-page .billing-details textarea::-ms-input-placeholder {
  color: #7D7D7D;
}
body.checkout-page .billing-details textarea::-moz-placeholder {
  color: #7D7D7D;
}
body.checkout-page .billing-details label.ship-address-check {
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 300;
  color: tomato;
}
