@branding-color: #ff6060;

/*Background Color*/
@bg-black: #282828;
@bg-black-light: #3f3e43;
@bg-green: #D0E9B0;

/*Text Color*/
@text-black: #353535;
@text-gray-light: #a0a0a0;
@text-gray-medium-light: #868686;
@text-gray-small-light: #6A6A6A;
@text-gray: #a1a1a1;
@text-gray-dark: #535353;
@icon-star: #c8a760;
@icon-star-border: #d6d6d6;

/*Font Family*/
@font1: "Montserrat";


/*Hover Color*/
@hover-golden: #FFEB6C;


/*Font Weight*/
@fw-ExtraLight: 200;
@fw-Light: 300;
@fw-Semibold: 600;